<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin-right="http://www.w3.org/1999/xhtml"
      xmlns:class="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <title>首頁</title>
    <script>

    </script>
</head>
<body>
<div class="container">
    <h3><a href="/index">首頁</a></h3>
    <p th:text="'現在時間: '+${datetime}" class="right" onload="timeOut()"/>
</div>
<div>
    <br>
    <hr>
</div>
<br>
<div>
    <a href="register">註冊會員</a>
</div>


</body>
</html>