<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>會員註冊</title>
    <script>
        function checkData() {

        }
    </script>
</head>
<body>
<form name="registerform" action="register-confirm" method="post">
    註冊信箱: <input type="email" name="email" required/><p/>
    使用者姓名: <input type="text" name="name" required><p/>
    使用者帳號: <input type="text" name="account" required/><p/>
    使用者密碼: <input type="password" name="password1" required/><p/>
    再次確認密碼: <input type="password" name="password2" required/><p/>
    手機號碼: <input type="text" name="cellnum" required/><p/>
    送貨地址: <input type="text" name="address" required/><p/>

    <input type="button" onclick="checkData()" value="註冊">
</form>
</body>
</html>